apiVersion: v1
kind: Service
metadata:
  name: frontend
  namespace: pakaura
  labels:
    app: frontend
    app.kubernetes.io/name: pakaura
    app.kubernetes.io/component: frontend
spec:
  selector:
    app: frontend
  ports:
    - port: 3000
      targetPort: 3000
      nodePort: 30300
      name: http
  type: NodePort
