apiVersion: v1
kind: Service
metadata:
  name: api
  namespace: pakaura
  labels:
    app: api
    app.kubernetes.io/name: pakaura
    app.kubernetes.io/component: backend
spec:
  selector:
    app: api
  ports:
    - port: 8000
      targetPort: 8000
      name: http
  type: ClusterIP
